/* Reset & base styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Full-screen video background */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #36593f;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.video-background audio{
  z-index:1;
  background-color: #36593f;
}

/* Centered content overlay */
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

.logo {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 3s ease-out 0.3s forwards;

}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.button-group {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn {
  text-decoration: none;
  background-color: #E8DCC3; /* botanical sage-inspired */
  color: #2f2f2f;
  padding: 2px 24px;
  border-radius: 6px;
  font-family: "Italianno", cursive;
  font-weight: 900;
  font-style: bold;
  font-size: 32px;
  transition: background-color 0.3s ease;
  max-width:50%;
}

.btn:hover {
  background-color: #36593f;
}
