/* Reset & base styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Full-screen video background */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #36593f;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.video-background audio{
  z-index:1;
  background-color: #36593f;
}

/* Centered content overlay */
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 10%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.logo {
    opacity: 1;
    position: absolute;
    bottom: 30%;
    left:10%;
    
   /* transform: translateY(30px);
    animation: fadeInUp 3s ease-out 0.3s forwards;*/
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#coloredLogo{
  clip-path: inset(100% 0 0 0);
  animation: revealFromBottom 5s ease-out forwards;
}

@keyframes revealFromBottom {
  to {
    clip-path: inset(0 0 0 0);
  }
}
.button-group {
  margin-top: 1%;
  display: flex;
  position: absolute;
  gap: 20px;
  bottom:25%;
  left:33%;
  
}

.btn {
  text-decoration: none;
  background-color: #E8DCC3; 
  color: #2f2f2f;
  padding: 2px 24px;
  border-radius: 6px;
  font-family: "Playfair display", bold;
  font-size: 24px;
  transition: background-color 0.3s ease;
  max-width:70%;
  position: relative;
}

.btn:hover {
  background-color: #b9ad91;
  border-radius: 10px;;
}
